.member {
    position: relative;
    overflow: hidden;
    padding: 48px 0;
    background: linear-gradient(to bottom, #FF9D2D, #FFD3A2); /*#ffb868*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member p {
    margin-bottom: 0;
}










.member .member-title {
    padding: 0 64px;
    width: 100%;
    height: 100px;
    text-align: left;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

@media (max-width: 1270px) and (min-width: 800px) {
    .member .member-title {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .member .member-title {
        font-size: 12px;
    }
}










.member .member-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}

@media (max-width: 1270px) {
    .member .member-box {
        flex-direction: column;
        gap: 50px;
    }
}

.member .member-card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 10;
}

@media (max-width: 1270px) and (min-width: 800px) {
    .member .member-card {
        flex-direction: row;
    }
}

@media (max-width: 800px) {
    .member .member-card {
        flex-direction: column;
    }
}










.member .member-image {
    height: 400px;
    z-index: 10;
}

.member .represent-image {
    height: 500px;
    z-index: 10;
}

@media (max-width: 1270px) and (min-width: 800px) {
    .member .member-image {
        height: 300px;
    }
    
    .member .represent-image {
        height: 400px;
    }
}

@media (max-width: 800px) {
    .member .member-image {
        height: 200px;
    }
    
    .member .represent-image {
        height: 300px;
    }
}










.member .member-info {
    z-index: 10;
    margin-top: 60px;
}

@media (max-width: 1270px) and (min-width: 800px) {
    .member .member-info {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    .member .member-info {
        margin-top: 15px;
    }
}

.member .member-info p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
}

.member .member-info span {
    font-size: 48px;
}

.member .member-info ul {
    color: #332F2B;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.64px;
}

@media (max-width: 1270px) and (min-width: 800px) {
    .member .member-info p {
        font-size: 24px;
        text-align: left;
    }
    
    .member .member-info span {
        font-size: 40px;
    }

    .member .member-info ul {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .member .member-info p {
        font-size: 14px;
    }
    
    .member .member-info span {
        font-size: 24px;
    }

    .member .member-info ul {
        font-size: 12px;
    }
}









.member-info ul {
    list-style: none;
    padding: 0;
}

.member-info ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.member-info ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    top: -7px;
    font-size: 24px;
    color: #000;
}










.member .circle1 {
    position: absolute;
    top: 40%;
    left: -50%;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: #FFEFDD;
    z-index: 1;
}

.member .circle2 {
    position: absolute;
    top: -80%;
    right: -50%;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    border: 2px solid #FFEFDD;
    z-index: 1;
}

@media (max-width: 1270px) {
    .member .circle1, .member .circle2 {
        opacity: 0;
    }
}