.teachers-list {
  margin: 0 auto;
  padding: 64px;
  background-color: #fbf9f8;
}

.teachers-list h1 {
  font-size: 24px;
  font-weight: 600;
}

.teachers-list p {
  font-size: 22px;
}









.filter {
  display: flex;
  justify-content: space-between;
}

.filter-info {
  color: #888888;
  font-size: 28px;
}

.filter-btn {
  background-color: #FF8A00;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border-radius: 50px;
}

.filter-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.filter-popup {
  background: white;
  width: 560px;
  height: 580px;
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.filter-component {
  display: flex;
  justify-content: space-between;
}

.filter-component p {
  width: 95px;
  font-size: 16px;
  text-align: left;
}

.filter-options1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개 */
  width: 385px;
  gap: 10px;
}

.filter-options2 {
  display: flex;
  justify-content: space-around;
  width: 385px;
  gap: 10px;
}

.filter-label {
  text-align: center;
  cursor: pointer;
}

.filter-label input {
  margin-right: 5px;
  transform: scale(1.2);
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.selected-tag {
  background-color: #FF8A00;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.selected-tag button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
}

.confirm-btn {
  margin-top: 40px;
  padding: 12px 24px;
  border-radius: 10px;
  background: #888;
  cursor: pointer;
  border: none;

  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.8px;
}

.filter-popup .line {
  margin: 24px 0;
  padding: 0;
  height: 2px;
  border-radius: 10px;
  background: #D9D9D9;
}










/* 카드 리스트를 2x2 그리드로 배열 */
.teachers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}





.teacher-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
  border: 1px solid #dee2e6;
  padding: 40px;
  transition: transform 0.2s;
}





.teacher-image {
  width: 240px;
  height: 240px;
  border-radius: 12px;
}





.teacher-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

.status {
  display: inline-block;
  width: 280px;
  height: 50px;
  border-radius: 1000px;
  padding: 12px 24px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}

.status.active {
  background-color: #DFEDFf;
  color: #003D8E;
}
.status.preparing {
  background: #D9FFE7;
  color: #008E34;
}
.status.ready {
  background-color: #FFF2DA;
  color: #8E5C00;
}

.teacher-name {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.teacher-description {
  font-size: 20px;
  text-align: left;
}

.teacher-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.teacher-details p {
  font-weight: 600;
}

.teacher-details p span {
  font-weight: 400;
  color: #868e96;
}
