.teachers-list {
  margin: 0 auto;
  padding: 64px;
  background-color: #fbf9f8;
}

.teachers-list h1 {
  font-size: 24px;
  font-weight: 600;
}

.teachers-list p {
  font-size: 22px;
}

@media (max-width: 800px) {
  .teachers-list h1 {
    font-size: 12px;
  }

  .teachers-list p {
    font-size: 10px;
  }
}










.teachers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}

@media (max-width: 1270px) {
  .teachers-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1열 그리드 */
    gap: 32px;
    justify-content: center;
    margin-top: 32px;
  }
}