.lab {
    border: 1px solid black; /* 크기 확인용 테두리 스타일 */
    margin-top: 112px;
}

html, body {
    font-family: "IBM Plex Sans KR";
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: auto; /* Default behavior */
}

body.no-scroll {
    overflow: hidden; /* Hide scrollbar when popup is open */
}

.orange {
    color: var(--MAIN, #ff6600);
}

p {
    margin-bottom: 0;
}