.main-title {
    display: flex;
    padding: clamp(55px, 6.6vw, 96px);
    padding-top: 96px;
    padding-bottom : 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.main-title .h2 {
    color: #0D0D0D;
    font-size: 20px;
    line-height: normal;
    margin: 0;
}

.main-title .twenty-two {
    margin-top: 22px;
}

.main-title .h1 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.72px;
    margin: 0;
}

.sini-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sini-image {
    width: clamp(66px, 8.4vw, 122px);
    height: clamp(66px, 8.4vw, 122px)*1.12;
}

.sini-section p {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.28px;
}

.application-consult {
    margin-top: 106px;
    display: flex;
    padding: 20px clamp(28px, 3.6vw, 52px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--MAIN, #ff6600);
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 100%; /* 36px */
    letter-spacing: -1.44px;
}

.main-title .orange {
    color: var(--MAIN, #ff6600);
}
