.main-title {
    position: relative;
    display: flex;
    padding: 96px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    background-image: url('../img/02_maintitle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .main-title {
        padding: 50px 50px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .main-title {
        padding: 36px 32px;
    }
}










.main-title .h2 {
    color: #fff;
    font-size: 20px;
    line-height: normal;
    margin: 0;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .main-title .h2 {
        font-size: 16px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .main-title .h2 {
        font-size: 12px;
    }
}










.main-title .twenty-two {
    margin-top: 22px;
}

.main-title .h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.72px;
    margin: 0;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .main-title .h1 {
        font-size: 32px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .main-title .h1 {
        font-size: 20px;
    }
}

.main-title .orange {
    font-weight: 600;
}











.sini-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .sini-section {
        margin-top: 15px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .sini-section {
        margin-top: 10px;
    }
}

.sini-image {
    width: 120px;
    height: 130px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .sini-image {
        width: 100px;
        height: 108px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .sini-image {
        width: 80px;
        height: 88px;
    }
}

.sini-section p {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.28px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .sini-section p {
        font-size: 56px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .sini-section p {
        font-size: 32px;
    }
}










.main-title .application-consult {
    margin-top: 100px;
    display: flex;
    padding: 20px 52px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--MAIN, #FF8A00);
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.44px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .main-title .application-consult {
        margin-top: 50px;
        padding: 15px 35px;
        font-size: 32px;
        letter-spacing: -1.28px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .main-title .application-consult {
        position: absolute;
        bottom: 32px;
        right: 32px;
        padding: 12px 24px;
        font-size: 16px;
        letter-spacing: -0.64px;
    }
}

.main-title .application-consult:hover {
    background-color: #e55a00; /* hover 시 약간 어두운 주황색 */
}










.main-title .orange {
    color: var(--MAIN, #FF8A00);
}
