.advantage {
    display: flex;
    position: relative; 
    min-height: 810px;
    padding: 0px clamp(33px, 3.8vw, 56px);
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;

    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 40%;
    letter-spacing: -0.4px;
}

.frame86 p {
    font-size: 24px;
    letter-spacing: -0.48px;
}

.advantage .h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: -0.48px;
}

.frame106 .textbox {
    width: clamp(166px, 20.8vw, 300px);
    height: 400px;
    flex-shrink: 0;
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%; /* 72px */
    letter-spacing: -0.96px;
}

.frame89 img {
    margin-top: 40px;
    width: clamp(310px, 38.5vw, 555px);
}

.frame80 img {
    margin-top: 24px;
    width: clamp(75px, 9.3vw, 135px);
    height: clamp(75px, 9.3vw, 135px)*0.92;
    margin-bottom: 12px;
}

.main-advantange-imgArray {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; /* 전체 폭에 맞춤 */
}

.main-advantange-imgArray2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.frame80 span {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    letter-spacing: -0.32px;
    line-height: 80%;
}

.advantage .orange {
    color: var(--MAIN, #ff6600);
}