.why {
    display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1 0 0; gap: 2vh; 
    padding: 0 56px;
    color: #FFF;
    margin-bottom: 112px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why {
        padding: 50px 50px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why {
        padding: 36px 32px;
    }
}

.why .up, .why .down {
    display: flex; gap: 2%;
    width: 100%;
}

.why p {
    font-size: 24px; font-weight: 700; line-height: 125%; letter-spacing: -0.48px;
    margin-bottom: 0;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why p {
        font-size: 20px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why p {
        font-size: 16px;
    }
}

.why span {
    font-size: 20px; font-weight: 400; line-height: 150%; letter-spacing: -0.4px;
    margin-bottom: 0;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why span {
        font-size: 17px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why span {
        font-size: 14px;
    }
}









.why .title {
    position: relative;
    width: 49%; height: 400px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .title {
        width: 90%; height: 300px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why .title {
        width: 90%; height: auto;
        text-align: center;
    }
}

.why .title p {
    color: #000; font-size: 40px; font-weight: 700; line-height: 150%; letter-spacing: -0.96px;
}

.why .title span {
    font-size: 40px; font-weight: 700; line-height: 150%; letter-spacing: -0.96px;
} 

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .title p, .why .title span {
        font-size: 36px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why .title p, .why .title span {
        font-size: 20px;
    }
}

.why .title img {
    position: absolute; right: 0; bottom: 0;
    width: 55%;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .title img {
        width: 30%;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why .title img {
        width: 30%;
    }
}










.why .first {
    position: relative;
    display: flex; flex-direction: column; justify-content: center; flex: 1 0 0;
    width: 49%; height: 400px; padding: 48px 40px;
    border-radius: 60px 60px 60px 0px;
    background: #DD7600;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .first {
        width: 90%; height: 300px;
        border-radius: 60px 60px 0px 0px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why .first {
        width: 90%; height: 200px;
        border-radius: 60px 60px 0px 0px;
    }
}

.why .first img {
    width: 100%; max-width: 600px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .first img {
        width: 60%; margin-left: 40%;
    }
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 800px) and (min-width: 500px) {
    .why .first img {
        width: 60%; margin-left: 40%;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 500px) {
    .why .first img {
        width: 70%; margin-left: 30%;
    }
}









.why .second {
    display: flex; flex-direction: column; justify-content: center; flex: 1 0 0;
    width: 49%; height: 400px; padding: 48px 40px;
    border-radius: 60px 0px 60px 60px;
    background: #D58223;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .second {
        width: 90%; height: 300px;
        border-radius: 0px 0px 0px 0px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why .second {
        width: 90%; height: 200px;
        border-radius: 0px 0px 0px 0px;
    }
}

.why-imgs {
    display: flex; justify-content: space-between; flex-wrap: wrap;
    width: 100%;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .second .why-imgs {
        width: 60%; margin-left: 40%;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) and (min-width: 500px) {
    .why .second .why-imgs {
        width: 60%; margin-left: 40%;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 500px) {
    .why .second .why-imgs {
        width: 70%; margin-left: 30%;
    }
}

.item {
    display: flex; flex-direction: column; align-items: center; text-align: center;
    width: 24%;
}

.item img {
    width: 100%; height: auto; max-width: 135px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.item span {
    color: #FFF; text-align: center; font-size: 16px; font-weight: 500; line-height: 110%; letter-spacing: -0.32px;
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) and (min-width: 500px) {
    .why .second .item span {
        font-size: 10px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 500px) {
    .why .second .item span {
        font-size: 8px;
    }
}









.why .third {
    display: flex; flex-direction: column; justify-content: center; flex: 1 0 0;
    width: 49%; height: 400px; padding: 48px 40px;
    border-radius: 0px 60px 60px 60px;
    background: #914D00;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .why .third {
        width: 90%; height: 300px;
        border-radius: 0px 0px 60px 60px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .why .third {
        width: 90%; height: 200px;
        border-radius: 0px 0px 60px 60px;
    }
}