.award {
    padding: 96px 120px 48px 120px;
    text-align: center;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .award {
        padding: 50px 50px 25px 50px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .award {
        padding: 36px 32px 18px 32px;
    }
}

.award .title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.96px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .award .title {
        font-size: 40px;
        letter-spacing: -0.8px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .award .title {
        font-size: 20px;
        letter-spacing: -0.4px;
    }
}










.video-container {
    margin: 20px 0;
}

.video-container video {
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
}










.award-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 800px) {
    .award-images {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .award-images > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.background-item {
    position: relative;
    width: 33%;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.background-item img {
    width: 100%;
    height: 300px;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.background-item:hover img {
    transform: scale(1.1); /* 확대 효과 */
    filter: grayscale(20%) brightness(90%); /* 회색 톤 + 밝기 조정 */
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .background-item img {
        height: 250px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .background-item {
        width: 50%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    
    .background-item img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}










.background-item .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.background-item .overlay p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 정확히 2줄까지만 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; /* 기본 마진 제거 */
    flex-grow: 1; /* 남는 공간을 모두 차지 */
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -0.4px;
}

.background-item .overlay span {
    flex-shrink: 0; /* span이 줄어들지 않게 고정 */
    font-size: 14px;
    line-height: 150%;
    font-weight: 200;
    letter-spacing: -0.4px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .background-item .overlay {
        height: 90px;
    }

    .background-item .overlay p {
        font-size: 16px;
        letter-spacing: -0.3px;
        line-height: 120%;
    }

    .background-item .overlay span {
        font-size: 14px;
        letter-spacing: -0.3px;
        line-height: 120%
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .background-item .overlay {
        height: 100px;
    }

    .background-item .overlay p {
        font-size: 13px;
        letter-spacing: -0.28px;
        line-height: 120%
    }

    .background-item .overlay span {
        font-size: 12px;
        letter-spacing: -0.24px;
    }
}
