.promotion-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF5EA;
    height: 96px;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .promotion-title {
        height: 72px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .promotion-title {
        height: 30px;
    }
}

.promotion-title p {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -1.28px;
    margin-top: 11%;
    margin-bottom: 0;
    z-index: 50;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .promotion-title p {
       font-size: 48px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) {
    .promotion-title p {
        font-size: 20px;
    }
}









.promotion {
    position: relative;
    padding-top: 70%;
    background-image: url('../img/promotion.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF5EA;
}

.promotion .application-consult {
    position: absolute;
    top: 72%;
    left: 39%;
    display: inline-flex;
    width: 22%;
    padding: 20px 52px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--MAIN, #ff6600);
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.44px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 화면 너비가 800px ~ 1270px일 때 */
@media (max-width: 1270px) and (min-width: 800px) {
    .promotion .application-consult {
        padding: 12px 24px;
        font-size: 24px;
        letter-spacing: -1.28px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 800px) and (min-width: 500px) {
    .promotion .application-consult {
        padding: 12px 24px;
        font-size: 12px;
        letter-spacing: -0.64px;
    }
}

/* 화면 너비가 800px 이하일 때 */
@media (max-width: 500px) {
    .promotion .application-consult {
        padding: 10px 20px;
        font-size: 10px;
        letter-spacing: -0.48px;
    }
}

.promotion .application-consult:hover {
    background-color: #e55a00; /* 호버 시 버튼 배경색 */
}