.sns-links {
    width: 10%;
    position: fixed;
    top: 60vh;
    right: 7vw;
    z-index: 100;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sns-links img {
    width: 100px;
}

@media (max-width: 1270px) and (min-width: 800px) {
    .sns-links img {
        width: 85px;
    }
}

@media (max-width: 800px) {
    .sns-links img {
        width: 70px;
    }
}

.sns-button {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
