.sns-links {
    position: fixed;
    top: 500px;
    right: 150px;
    z-index: 1000;
    background-color: none;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
    gap: 10px; /* 버튼 간격 설정 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid black; /* .lab 스타일로 테두리 추가 */
}

.sns-links img {
    width: 70px;
}

.sns-button {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
