.main-title {
    margin-top: 153.33px;
    display: flex;
    padding: 96px 96px 80px 96px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.main-title .h2 {
    color: #0D0D0D;
    font-family: "IBM Plex Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.main-title .twenty-two {
    margin-top: 22px;
}

.main-title .h1 {
    color: #000;
    font-family: "IBM Plex Sans KR";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.72px;
    margin: 0;
}

.main-title .orange {
    color: var(--MAIN, #ff6600);
}

.sini-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sini-image {
    width: 122px;
    height: 137px;
}

.sini-section p {
    color: #000;
    font-family: "IBM Plex Sans KR";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.28px;
}
